@import ../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables
$body-bg: #CFE0F2
$jumbotron-bg: $body-bg
$over-bg: lighten($body-bg, 10)

@import ../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap

html, body
  height: 100%

#header-whale
  width: 50%
