@import ../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables
$body-bg: #CFE0F2
$jumbotron-bg: $body-bg
$over-bg: lighten($body-bg, 8)
$section-heading: lighten($body-bg, 8)
$table-bg-accent: darken($body-bg, 5)
$table-border-color: transparent
$icon-font-path: '../bootstrap-sass/assets/fonts/bootstrap/'

@import ../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap

#header-whale
  padding: 10px

.overlay
  padding-top: 50px
  padding-bottom: 50px
  background: $over-bg

.section-heading
  h1
    color: $section-heading
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35)
    margin: 100px auto
    letter-spacing: 3px

.push
  height: 50px

.nopadding
  padding: 0 !important
