{% load staticfiles %}
<!doctype html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="{% block page_description %}American folk singer/songwriter in Ann Arbor, Michigan{% endblock %}" />
        <meta name="keywords" content="{% block page_keywords %}Ann Arbor, Michigan, Ann Arbor Michigan, folk, music, folk music, Ann Arbor musicians, Michigan musicians, independent musicians{% endblock %}" />
        <title>{% block title %}Little Leviathan{% endblock %}</title>
        <link rel="icon" href="{% block favicon %}{% static 'images/favicon.ico' %}{% endblock %}" />
        {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}" />
        {% endblock css %}
    </head>
    <body>
        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
        </div>
        {% block js %}
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.js' %}"></script>
        {% endblock js %}
    </body>
</html>
