{% load staticfiles %}
{% load compress %}

{% with request.META.HTTP_HOST as base_uri %}
{% with request.build_absolute_uri as page_uri %}
<!doctype html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="{% block page_description %}American folk singer/songwriter in Ann Arbor, Michigan{% endblock %}" />
        <meta name="keywords" content="{% block page_keywords %}{{ BASE_KEYWORDS|join:", " }}{% endblock %}" />

        <meta name="google-site-verification" content="-QpLuOKOuM7nqIe0ja63OwEkaDwCIE5J4CNaExmizp0" />

        <meta property="fb:app_id" content="434186043351582" />
        <meta property="og:title" content="{% block og_title %}Little Leviathan{% endblock %}" />
        <meta property="og:description" content="{% block og_description %}{% endblock %}" />
        <meta property="og:url" content="{% block og_url %}{{ page_uri }}{% endblock %}" />
        <meta property="og:site_name" content="{% block og_site_name %}Little Leviathan{% endblock %}" />
        <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
        <meta property="og:image" content="{% block og_image %}{{ page_uri }}{% static 'images/whale.png' %}{% endblock %}" />
        <meta property="og:image:type" content="{% block og_image_type %}image/png{% endblock %}" />
        <meta property="og:image:height" content="{% block og_image_height %}341{% endblock %}" />
        <meta property="og:image:width" content="{% block og_image_width %}800{% endblock %}" />

        <meta name="twitter:card" content="{% block twitter_card %}summary_large_image{% endblock %}" />
        <meta name="twitter:url" content="{% block twitter_url %}{{ page_uri }}{% endblock %}" />
        <meta name="twitter:site" content="{% block twitter_site %}@littleleviathan{% endblock %}" />
        <meta name="twitter:creator" content="{% block twitter_creator %}@danehillard{% endblock %}" />
        <meta name="twitter:title" content="{% block twitter_title %}Little Leviathan{% endblock %}" />
        <meta name="twitter:description" content="{% block twitter_description %}{% endblock %}" />
        <meta name="twitter:image:src" content="{% block twitter_image_src %}{{ page_uri }}{% static 'images/whale.png' %}{% endblock %}" />
        <meta name="twitter:image:height" content="{% block twitter_image_height %}341{% endblock %}" />
        <meta name="twitter:image:width" content="{% block twitter_image_width %}800{% endblock %}" />

        <title>{% block title %}Little Leviathan{% endblock %}</title>
        <link rel="icon" href="{% block favicon %}{% static 'images/favicon.ico' %}{% endblock %}" />

        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}" />
        {% block css %}{% endblock css %}
        {% endcompress %}
    </head>

    <body>
        <a href="{% url 'main:home' %}">
            <img class="img-responsive center-block top-buffer bottom-buffer" src="{% static 'images/little-leviathan-wordmark.png' %}" alt="Little Leviathan" />
        </a>

        <div class="text-center">
            <ul class="list-inline lead">
                <li><a href="{% url 'main:albums' %}">Music</a></li>
                <li><a href="{% url 'main:about' %}">About</a></li>
                <li><a href="{% url 'main:press' %}">Press</a></li>
            </ul>
        </div>

        {% block content %}
        {% endblock content %}

        {% block disqus %}
        <div class="container-fluid">
            <div class="row top-buffer">
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    {% include 'disqus.html' %}
                </div>
            </div>
        </div>
        {% endblock disqus %}

        {% compress js %}
        {% block js %}
        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/analytics.js' %}"></script>
        {% endblock js %}
        {% endcompress %}
    </body>
</html>
{% endwith %}
{% endwith %}
