{% load staticfiles %}
{% load compress %}
<!doctype html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="{% block page_description %}American folk singer/songwriter in Ann Arbor, Michigan{% endblock %}" />
        <meta name="keywords" content="{% block page_keywords %}Ann Arbor, Michigan, Ann Arbor Michigan, folk, music, folk music, Ann Arbor musicians, Michigan musicians, independent musicians{% endblock %}" />
        <title>{% block title %}Little Leviathan{% endblock %}</title>
        <link rel="icon" href="{% block favicon %}{% static 'images/favicon.ico' %}{% endblock %}" />
        {% compress css %}
        {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}" />
        {% endblock css %}
        {% endcompress %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        {% compress js %}
        {% block js %}
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.min.js' %}"></script>
        {% endblock js %}
        {% endcompress %}
    </body>
</html>
