{% extends '__base_no_disqus.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center">About</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p class="text-justify">
                Dane Hillard is a man of many interests, of which music has been one of the most enduring.
                His tastes have changed dramatically over the years, but the album Little Leviathan is a snapshot of
                where his tastes have settled in recent years. Inspired by folk and indie singer/songwriters such as
                Iron &amp; Wine, The Shins, Alexi Murdoch, and more, Little Leviathan is a collection of work about
                love, loss, and finding meaning in both.
            </p>
        </div>
    </div>
</div>
{% endblock content %}
