{% extends '__base.html' %}

{% load remove_newlines %}
{% load seconds_to_mm_ss %}

{% block page_description %}{{ album.title }}: {{ album.synopsis|remove_newlines|truncatechars:50 }}{% endblock %}
{% block page_keywords %}{{ block.super }}, albums, records, music albums, folk albums, folk records, {{ album.title }}{% endblock %}

{% block og_title %}{{ album.title }} | {{ block.super }}{% endblock %}
{% block og_description %}{{ album.title }}: {{ album.synopsis|remove_newlines|truncatechars:50 }}{% endblock %}
{% block og_image %}http://{{ base_uri }}{{ album.cover_art.url }}{% endblock %}
{% block og_image_height %}{{ album.cover_art_height }}{% endblock %}
{% block og_image_width %}{{ album.cover_art_width }}{% endblock %}

{% block twitter_title %}{{ album.title }} | {{ block.super }}{% endblock %}
{% block twitter_image_src %}http://{{ base_uri }}{{ album.cover_art.url }}{% endblock %}
{% block twitter_image_height %}{{ album.cover_art_height }}{% endblock %}
{% block twitter_image_width %}{{ album.cover_art_width }}{% endblock %}
{% block twitter_description %}{{ album.title }}: {{ album.synopsis|remove_newlines|truncatechars:50 }}{% endblock %}

{% block title %}{{ album.title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="container-fluid" itemscope itemtype="http://www.schema.org/MusicAlbum">
    <div class="row bottom-buffer">
        <div class="col-sm-3">
            <div class="row">
                <img class="img-responsive center-block" src="{{ album.cover_art.url }}" alt="{{ album.title }} cover art" itemprop="image" />
            </div>
            <h1 class="text-center" itemprop="name">{{ album.title }}</h1>
            <div itemprop="about">
                {{ album.synopsis|linebreaks }}
            </div>
        </div>
        <div class="col-sm-9">
            {% if album.itunes_link or album.soundcloud_link or album.bandcamp_link or album.spotify_link %}
            <div class="row top-buffer">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div class="buy-links btn-group">
                        {% if album.itunes_link %}<a class="btn btn-large btn-primary" href="{{ album.itunes_link }}" target="_blank">iTunes</a>{% endif %}
                        {% if album.soundcloud_link %}<a class="btn btn-large btn-primary" href="{{ album.soundcloud_link }}" target="_blank">SoundCloud</a>{% endif %}
                        {% if album.bandcamp_link %}<a class="btn btn-large btn-primary" href="{{ album.bandcamp_link }}" target="_blank">Bandcamp</a>{% endif %}
                        {% if album.spotify_link %}<a class="btn btn-large btn-primary" href="{{ album.spotify_link }}" target="_blank">Spotify</a>{% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if album.song_set.all %}
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h2 itemprop="numTracks">{{ album.song_set.count }} track{{ album.song_set.count|pluralize }}</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Duration</th>
                        </tr>
                        {% for song in album.song_set.all %}
                        <tr itemprop="track" itemscope itemtype="http://www.schema.org/MusicRecording">
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="{% url 'main:song' album.code song.code %}" itemprop="url">
                                    <span itemprop="name">{{ song.title }}</span>
                                </a>
                            </td>
                            <td>
                                <meta itemprop="duration" content="PT{{ song.duration_seconds|minutes_part }}M{{ song.duration_seconds|seconds_part }}S" />
                                {{ song.duration_seconds|minutes_part }}:{{ song.duration_seconds|seconds_part }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
