{% extends '__base.html' %}

{% block page_description %}Albums recorded by Little Leviathan{% endblock %}
{% block page_keywords %}{{ block.super }}, albums, records, music albums, folk albums, folk records{% endblock %}

{% block og_title %}Albums | {{ block.super }}{% endblock %}
{% block og_description %}Albums recorded by Little Leviathan{% endblock %}

{% block twitter_title %}Albums | {{ block.super }}{% endblock %}
{% block twitter_description %}Albums recorded by Little Leviathan{% endblock %}

{% block title %}Albums | {{ block.super }}{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Albums</h1>
</div>
<div class="container-fluid">
{% if album_list %}
{% for album in album_list %}
    <div class="row">
        <div class="nopadding col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" itemscope itemtype="http://www.schema.org/MusicAlbum">
            <a href="{% url 'main:album' album.code %}" title="{{ album.title }}" itemprop="url">
                <h2 class="text-center" itemprop="name">{{ album.title }}</h2>
                <h3 class="text-center"><span itemprop="numTracks">{{ album.song_set.all.count }}</span> track{{ album.song_set.all.count|pluralize }}</h3>
                <img class="img-responsive" src="{{ album.cover_art.url }}" alt="{{ album.title }} cover art" itemprop="image" />
            </a>
        </div>
    </div>
{% endfor %}
{% else %}
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
            <p class="lead text-center">
                There are currently no albums available. Come back later!
            </p>
        </div>
    </div>
{% endif %}
</div>
{% endblock content %}