{% extends '__base.html' %}
{% block content %}
<div class="jumbotron text-center">
    <h1>Albums</h1>
</div>
<div class="container-fluid">
{% for album in album_list %}
    <div class="row">
        <div class="nopadding col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <a href="{% url 'main:album' album.code %}" title="{{ album.title }}">
                <img class="img-responsive" src="{{ album.cover_art.url }}" alt="{{ album.title }} cover art" />
            </a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock content %}
