{% extends '__base.html' %}

{% block page_description %}{{ song.title }}: a track from the album {{ song.album.title }} by Little Leviathan{% endblock %}
{% block page_keywords %}{{ block.super }}, albums, records, music albums, folk albums, folk records, {{ song.title }}{% endblock %}

{% block og_title %}{{ song.title }} | {{ block.super }}{% endblock %}
{% block og_description %}{{ song.title }}: a track from the album {{ song.album.title }} by Little Leviathan{% endblock %}
{% block og_image %}{{ song.art.url }}{% endblock %}
{% block og_image_height %}{{ song.art_height }}{% endblock %}
{% block og_image_width %}{{ song.art_width }}{% endblock %}

{% block twitter_title %}{{ song.title }} | {{ block.super }}{% endblock %}
{% block twitter_image_src %}{{ song.art.url }}{% endblock %}
{% block twitter_image_height %}{{ song.art_height }}{% endblock %}
{% block twitter_image_width %}{{ song.art_width }}{% endblock %}
{% block twitter_description %}{{ song.title }}: a track from the album {{ song.album.title }} by Little Leviathan{% endblock %}

{% block title %}{{ song.title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="container-fluid" itemscope itemtype="http://www.schema.org/MusicRecording">
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive center-block" itemprop="image" src="{{ song.art.url }}" alt="Artwork for &quot;{{ song.title }}&quot; by Little Leviathan" />
            <h1><span itemprop="name">{{ song.title }}</span><small> by <span itemprop="byArtist">Little Leviathan</span></small></h1>
            {% if song.itunes_link or song.soundcloud_link or song.bandcamp_link or song.spotify_link %}
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Buy
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% if song.itunes_link %}<li role="presentation"><a role="menuitem" href="{{ song.itunes_link }}" rel="noopener" target="_blank">iTunes</a></li>{% endif %}
                    {% if song.soundcloud_link %}<li role="presentation"><a role="menuitem" href="{{ song.soundcloud_link }}" rel="noopener" target="_blank">SoundCloud</a></li>{% endif %}
                    {% if song.bandcamp_link %}<li role="presentation"><a role="menuitem" href="{{ song.bandcamp_link }}" rel="noopener" target="_blank">Bandcamp</a></li>{% endif %}
                    {% if song.spotify_link %}<li role="presentation"><a role="menuitem" href="{{ song.spotify_link }}" rel="noopener" target="_blank">Spotify</a></li>{% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2" itemprop="description">
                    <h2>Lyrics</h2>
                    {{ song.lyrics|linebreaks }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
